@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root {
    --main-color: #C7D7C0;
    --second-color: #9DBD8F;
}
section {
    padding: 50px 10%;
}
* ::selection {
    color: #fff;
    background: var(--main-color);
}
img {
    width: 100%;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 30px 10%;
    transition: 0.2s;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img{
    width: 70px;
}
.navbar{
    display: flex;
}
.navbar a {
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
}
.navbar a:hover {
    color: var(--main-color);
}
#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}
.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #ececec;
    gap: 1rem;
}
.home-text {
    flex: 1 1 17rem;
}
.home-img {
    flex: 1 1 17rem;
}
.home-img img {
    animation: animate 3s linear infinite;
}
@keyframes animate{
    0% {
       transform: translate(-11px, 0); 
    }
    50% {
        transform: translate(-0px, -11px); 
    }
    100% {
        transform: translate(-11px, 0); 
    }
}
.home-text span {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--second-color);
}
.home-text h1{
    font-size: 3.8rem;
    color: var(--main-color);
    font-weight: bolder;
}
.home-text h2 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
    text-transform: uppercase;
    margin: 0.5rem 0 1.4rem;
}
.btn {
    padding: 7px 16px;
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 500;
}
.btn :hover {
    color: #fff;
    background: var(--second-color);
}
.heading {
    text-align: center;
    text-transform: uppercase;
}
.heading span{
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
}
.heading h1{
    font-size: 2rem;
    color: var(--main-color);
}
section {
    padding: 120px 10%;
}
element.style {
    position: absolute;
    top: 101px;
}
.proyecto-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
}
.proyecto-container .box{
    flex: none;
    background: var(--main-color);
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 0.5rem;
}
.proyecto-container .box .box-img {
    width: 150px;
    height: 150px;
    margin-top: 50px;
}
.proyecto-container .box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.stars{
    margin: 1 rem 0 0.1rem;
}
.proyecto-container .box .stars .bx {
    color: #ececec;
}
.proyecto-container .box h2{
    color: #ececec;
    font-size: 1.2rem;
}
.proyecto-container .box span{
    color: #ececec;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0.2rem 0 0.5rem;
<<<<<<< HEAD
}
.box .btn{
    border: 2px solid #ececec;
    color: var(--second-color);
}
.box .btn:hover {
    background: #ececec;
    color: var(--second-color);
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}
.proyecto-img {
    flex: 1 1 21rem;
}
.proyecto-text {
    flex: 1 1 21rem;
}
.proyecto-text h2 {
    font-size: 1.2rem;
    color: var(--second-color);
}
.proyecto-text p {
    margin: 0.5rem 0 1rem;
    text-align: justify;
}


@font-face {
    font-family: SuperMario256;
    src: url('../fonts/SuperMario256.ttf');
  }
  
  .start-screen {
    width: 1280px;
    height: 530px;
    margin: 0 auto;
    border: 1px solid black;
    background: url('../images/start-screen.png');
    position: relative;
  }
  
  .editor-screen {
    width: 1280px;
    height: 480px;
    margin: 0 auto;
    border: 1px solid black;
    background: url('../images/bg.png');
    position: relative;
    overflow: hidden;
    display: none;
  }
  
  .game-screen {
    width: 1280px;
    height: 480px;
    border: 1px solid black;
    border-top: none;
    background: url('../images/bg.png');
    display: none;
    margin: 0 auto;
  }
  
  .score-wrapper {
    padding-left: 40px;
    width: 1240px;
    margin: 0 auto;
    height: 50px;
    display: none;
    border: 1px solid black;
    border-bottom: none;
    line-height: 50px;
    font-size: 20px;
    background-color: #add1f3;
    font-family: SuperMario256;
    color: #ffffff;
  }
  
  .life-count {
    background: url('../images/mario-head.png') left center no-repeat;
    width: 100px;
    float: left;
    padding-left: 40px;
  }
  
  .coin-score {
    background: url('../images/coin.png') left center no-repeat;
    width: 150px;
    float: left;
    padding-left: 40px;
  }
  
  .level-num {
    width: 150px;
    float: left;
  }
  
  .total-score {
    float: left;
  }
  .cell {
    width: 31px;
    height: 31px;
    border: 1px solid blue;
  }
  
  .active {
    width: 31px;
    height: 31px;
    border: 1px solid blue;
    background: red;
    opacity: 0.5;
  }
  
  .element-wrapper {
    width: 1280px;
    height: 130px;
    background: #d2d2d2;
    margin: 0 auto;
    border: 1px solid black;
    display: none;
  }
  
  .platform {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') 0 0;
  }
  
  .coin-box {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -32px 0;
  }
  
  .power-up-box {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -64px 0;
  }
  
  .useless-box {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -96px 0;
  }
  
  .flag-pole {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -128px 0;
  }
  
  .flag {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -160px 0;
  }
  
  .pipe-left {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -192px 0;
  }
  
  .pipe-right {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -224px 0;
  }
  
  .pipe-top-left {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -256px 0;
  }
  
  .pipe-top-right {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -288px 0;
  }
  
  .goomba {
    width: 31px;
    height: 31px;
    background: url('../images/enemies.png') 0 0;
  }
  
  .right-arrow {
    width: 60px;
    height: 60px;
    top: 215px;
    right: 0;
    background: url('../images/slider-right.png');
    position: absolute;
  }
  
  .left-arrow {
    width: 60px;
    height: 60px;
    top: 215px;
    left: 0;
    background: url('../images/slider-left.png');
    position: absolute;
  }
  
  .element-wrapper * {
    margin: 10px;
    float: left;
  }
  
  .lvl-size {
    clear: both;
    float: left;
    width: 115px;
    height: 32px;
    background: url('../images/lvl-size.png');
    margin-right: 10px;
  }
  
  .grid-small-btn {
    float: left;
    width: 64px;
    height: 32px;
    background: url('../images/grid-small-btn.png');
    border: none;
    margin-right: 10px;
  }
  
  .grid-medium-btn:selected {
    background: red;
  }
  
  .grid-medium-btn {
    float: left;
    width: 96px;
    height: 32px;
    background: url('../images/grid-medium-btn.png');
    border: none;
    margin-right: 10px;
  }
  
  .grid-large-btn {
    float: left;
    width: 128px;
    height: 32px;
    background: url('../images/grid-large-btn.png');
    border: none;
    margin-right: 10px;
  }
  
  .save-map-btn {
    float: right;
    width: 100px;
    height: 100px;
    background: url('../images/save-map-btn.png');
    border: none;
    border: 2px solid black;
    margin-right: 10px;
    margin-top: -35px;
  }
  
  .clear-map-btn {
    float: right;
    width: 100px;
    height: 100px;
    background: url('../images/clear-map-btn.png');
    border: none;
    border: 2px solid black;
    margin-right: 10px;
    margin-top: -35px;
  }
  
  .levels-wrapper {
    width: 1280px;
    height: 530px;
    margin: 0 auto;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    display: none;
    background: url('../images/bg.png');
  }
  
  .start-btn {
    width: 200px;
    height: 50px;
    color: #ffffff;
    background: url('../images/start-btn.png');
    position: absolute;
    bottom: 100px;
    left: 252px;
    border: 2px solid black;
  }
  
  .btn-wrapper {
    width: 1280px;
    height: 100px;
    margin: 0 auto;
  }
  
  .no-maps {
    width: 1000px;
    text-align: center;
    font-family: SuperMario256;
    font-size: 25px;
    margin: 0 auto;
    color: #ffffff;
    background: #5fb952;
    border: 2px solid black;
  }
  
  .loading-percentage {
    font-size: 60px;
    font-family: SuperMario256;
    text-align: center;
    padding: 100px;
  }
  
  .fb-comments {
    margin: 0 auto;
  }